@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  
  --color-homie-green: #00735C;
}

body {
  background-color: var(--color-homie-green);
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--font-sans);
  overscroll-behavior: none;
}
